<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Frivillige</title>
    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->

    <script src="~/libs/core-js/client/shim.min.js"></script>
    <script src="~/libs/zone.js/dist/zone.js"></script>
    <script src="~/libs/systemjs/dist/system.src.js"></script>

    <!-- 2. Configure SystemJS -->
    <script src="~/Scripts/systemjs.config.js"></script>
    <script>
        System.import('../Scripts/main').catch(function (err)
        {
            console.error(err);
        });
    </script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="The description of my page" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RSM", "Index", "Home", new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*@if (User.IsInRole("Frivillig"))
                    {*@
                        <li>@Html.ActionLink("Registrér Tid", "RegistrerTid", "Home")</li>
                        <li>@Html.ActionLink("Registrér Tid (Lasse)", "Tidsreg", "Home")</li>
                        <li>@Html.ActionLink("Efterregistrér Tid", "EfteregistrerTid", "Home")</li>
                    @*}
                    @if (User.IsInRole("Tovholder"))
                    {*@
                        <li>@Html.ActionLink("Opret Frivillig", "OpretNyFrivillig", "Tovholder")</li>
                        <li>@Html.ActionLink("Timeoversigt", "Index", "Home")</li>
                        <li>@Html.ActionLink("Udtræk Data", "Index", "Home")</li>
                    @*}*@

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        @Html.Encode(User.Identity.Name)
                        <li>@Html.ActionLink("Log Ud", "Logout", "User")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Opret Bruger", "Register", "User")</li>
                        <li>@Html.ActionLink("Log Ind", "Login", "User")</li>
                    }
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ringkøbing-Skjern Museum</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
